{% extends "base.html" %}
{% block title %}Registered Users{% endblock %}
{% block body %}
        <h1>Registered Users</h1>
        <p><a href="/">Home</a></p>
        <table>
            <tr>
                <th>Slack team_id</th>
                <th>Slack user_id</th>
                <th>LastFM User</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user['team_id'] }}</td>
                <td>{{ user['user_id'] }}</td>
                <td>{{ user['lastfm_user'] }}</td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}
