{% extends "base.html" %}
{% block title %}Commands{% endblock %}
{% block body %}
        <h1>Commands</h1>
        <p><a href="/">Home</a></p>
        <table>
            <tr>
                <th>Command</th>
                <th>Description</th>
                <th>Example</th>
            </tr>
            <tr>
                <td>/register [lastfm user]</td>
                <td>Registers the LastFM account to the current Slack user.</td>
                <td><img src="{{ url_for('static', filename='register.png') }}" /></td>
            </tr>
            <tr>
                <td>/unlink</td>
                <td>Unlinks LastFM account from the current Slack user.</td>
                <td><img src="{{ url_for('static', filename='unlink.png') }}" /></td>
            </tr>
            <tr>
                <td>/playing [@user]</td>
                <td>Displays currently playing song for @user.</td>
                <td><img src="{{ url_for('static', filename='playing.png') }}" /></td>
            </tr>
            <tr>
                <td>/userinfo [@user]</td>
                <td>Displays LastFM account information for @user, including top artists.</td>
                <td><img src="{{ url_for('static', filename='userinfo.png') }}" /></td>
            </tr>
        </table>
{% endblock %}
