<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='lastfm.ico') }}">
</head>
<body>
    <h1>Registered Users</h1>
    <p><a href="/">Home</a></p>
    <table>
        <tr>
            <th>ID</th>
            <th>Slack team_id</th>
            <th>Slack user_id</th>
            <th>LastFM User</th>
        </tr>
        {% for id_, team_id, user_id, lastfm_user in users %}
        <tr>
            <td>{{ id_ }}</td>
            <td>{{ team_id }}</td>
            <td>{{ user_id }}</td>
            <td>{{ lastfm_user }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
